html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  height: 100%;
}

.app {
  height: 100%;
}

/*
Landing
*/
.landing-container {
  background: url('/imgs/bg-landing.jpg') no-repeat;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo {
  margin: 10px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  margin-right: 6%;
}

.main-nav li:first-child {
  margin-right: auto;
}
.main-nav a {
  margin: 0 10px;
  color: #fff;
	display: inline-block;
	padding: 15px 35px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  border: 1px solid transparent;
}

.main-nav a:hover {
  border: 1px solid #fff;
}

.main-nav a::after{
  display:block;
	content:attr(title);
	border: 1px solid #fff;
	height:1px;
	color:transparent;
	overflow:hidden;
	visibility:hidden;
}

.landing-body {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 12%;
  padding-left: 5%;
}

.white-color {
  color: #fff;
}

.font-landing {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3em;
  font-weight: 300;
}

/*
Login
*/
.login-container {
  background: url('/imgs/login-bg.jpg') no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.top-login{
  display: flex;
  flex-direction: column;
  flex: 3;
  align-items: center;
  justify-content: center;
}

.form-placeholder {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}

.form-placeholder span {
  margin-top: 30px;
  margin-bottom: 30px;
  color:#fff;
  font-family: 'Roboto', sans-serif;
}

inputs:-webkit-input-placeholder {
    color: #b5b5b5;
}

inputs-moz-placeholder {
    color: #b5b5b5;
}

.inputs {
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 270px;
    margin-bottom: 20px;
    box-shadow: inset 0 2px 3px rgba( 0, 0, 0, 0.1 );
    clear: both;
}

.inputs:focus {
    background: #fff;
    box-shadow: 0 0 0 3px #fff38e, inset 0 2px 3px rgba( 0, 0, 0, 0.2 ), 0px 5px 5px rgba( 0, 0, 0, 0.15 );
    outline: none;
}

.facebook-placeholder {
  display: flex;
  width: 100%;
  text-align: center;
}

.facebook-btn {
  display: flex;
  flex-direction: row;
  background-color: #3b5998;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.facebook-btn i{
  margin-right: 20px;
  color: #fff;
}

.facebook-btn:hover {
  background-color: #14306B;
  cursor: pointer;
}

.login-submit {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #178F74;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-radius: 5px;
}

.login-submit:hover {
  background-color: #005945;
  cursor: pointer;
}

.bottom-buttons{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  flex: 1;
  width: 50%;
  align-items: flex-start;
  justify-content: center;
}

.bottom-buttons a{
  color: #fff;
  text-decoration: none;
}

.forget-pass-link{
  margin-right: 10px;
}
.register-link{
  margin-left: 10px;
}
