.main-nav {
  display: -webkit-flex;
  display: flex;
  list-style-type: none;
  align-items: center;
}

.main-nav li:first-child {
  margin-right: auto;
}
.main-nav a {
  margin: 0 10px;
  color: #000;
	display: block;
	padding: 5px 15px;
  text-decoration: none;
}

.main-nav a:hover {
  border: 1px solid #000;
}
